<div class="card mb-4 box-shadow">
    <img class="img-fluid w-100" style="height: 200px; width: 400px; object-fit:scale-down;"
      [src]=productItem.imgUrl>
    <div class="card-body">
      <div>
        <h5>{{productItem.name}}</h5>
        <p class="mb-3 text-muted text-uppercase small">{{productItem.description}}</p>
        <p class="mb-2 text-muted text-uppercase small">{{productItem.category}}</p>
        <small class="text-muted">{{productItem.price | currency:'USD'}}</small>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-success btn-outline-secondary product-btn"
          (click) = "addToCart()">Add to Cart</button>
          <button type="button" class="btn btn-sm btn-outline-secondary product-btn">View Details</button>
        </div>
      </div>
    </div>
  </div>